@font-face {
    font-family: "Bree serif";
    font-style: normal;
    font-weight: 400;
    src: local("Bree serif"),
             url("BreeSerif-Regular.woff2") format("woff2"),
             url("BreeSerif-Regular.woff") format("woff");
  }
